extends layout

block content
	div#login(data-role='page', data-title=title)
		div(data-role='header')
			h1= __(title)

		div(data-role='content')
			include _login

			h2= __('Or use your existing account')

			ul.acct-login-list.row
				li.span1
					a.acct-login(href='/auth/facebook')
						img(alt='Facebook', title='Facebook', src='http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png')
				li.span1
					a.acct-login(href='/auth/twitter')
						img(alt='Twitter', title='Twitter', src='http://github.com/intridea/authbuttons/raw/master/png/twitter_64.png')