extends layout

block content
	div#categories(data-role='page', data-title='Categories')
		div(data-role='header')
			h1 Categories
		
		div(data-role='content')
			h2 Select a Category Below:
			
			ul(data-role='listview', data-inset='true')
				li
					a.animals(href='#category?animals') Animals
				li
					a.colors(href='#category?colors') Colors
				li
					a.vehicles(href='#category?vehicles') Vehicles

	div#animals(data-role='page', data-title='Animals')
		div(data-role='header')
			h1 Animals

		div(data-role='content')
			ul(data-role='listview', data-inset='true')

	div#colors(data-role='page', data-title='Colors')
		div(data-role='header')
			h1 Colors

		div(data-role='content')
			ul(data-role='listview', data-inset='true')

	div#vehicles(data-role='page', data-title='Vehicles')
		div(data-role='header')
			h1 Vehicles

		div(data-role='content')
			ul(data-role='listview', data-inset='true')

	<!-- Underscore Template that is used to display all of the Category Models -->
	script#categoryItems(type='text/template')
		<% _.each( collection.toJSON(), function( category, id ) { %>
		<li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
		<%= category.type %>
		</li>
		<% }); %>